// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #ffca26;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #f5f5f9;

$dark-purple: #19115a;
$light-purple: #8644fc;
