<h1>Yay finally we code!</h1>

<div class="chat-container">
  <ul class="list-unstyled">

    <%= @chatrooms.each do |chatroom| %>

    <li class="chat-card">
      <div class="d-flex">
        <img class="avatar-large" src="https://images.unsplash.com/photo-1606147472786-86dbd849a56f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80" alt="">
      </div>
    </li>

    <% end %>

  </ul>
</div>





