<div class="background">
  <div class="profile-container">
    <div class="profile-header">
      <div class="log-out-btn">
        <%= link_to destroy_user_session_path, method: :delete, class:"yellow-text"  do%>
          <p class="white-text my-2 caps-title">Log out</p>
        <% end %>
      </div>
    </div>
    <div class="section profile-content">
      <div class="profile-content-container">
        <div class="owner">
          <div class="owner-avatar">
            <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, class: "img-circle img-align"%>
            <% else %>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToplStyx8pu0DsUkR-zSI6hAAN-vzcrZF0HA&usqp=CAU" alt="" class="img-circle img-align">
            <% end %>
          </div>
          <div class="name">
            <h4 class="title"><%= current_user.username %></h4>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/new_message_button' %>
</div>
