<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1513279922550-250c2129b13a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);">
  <div class="container text-center">
    <h1><strong>OurSpot</strong></h1>
    <p>Make our mark</p>
    <div class="mt-4">
      <%= link_to "Create an account", new_user_registration_path, class: "btn btn-primary rounded-pill"  %>
      <%= link_to "Log In", new_user_session_path, class: "btn btn-success rounded-pill ml-3" %>
      <%= link_to "My chatrooms (rename later)", chatrooms_path, class: "btn btn-secondary rounded-pill ml-3" %>
    </div>
  </div>
</div>
