.banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  display: flex;
  justify-content: center;
  background-image: image-url("background-ourspot.png")
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 46px;
  font-weight: bold;
}

.banner p {
  font-size: 28px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up span {
  font-size: 14px;
}

.btn-main {
  background: rgba(255,255,255, 0);
  font-size: 18px;
  font-weight: light;
  color: white;
  border: 1px solid white;
  &:focus {
    background: rgba(255,255,255, 0);
    font-size: 18px;
    color: white;
    border: 1px solid white;
    box-shadow: none;
  }
}

.btn-main:hover {
  color: white;
  border: 1px solid white !important;
  background: rgba(255,255,255, 0.1) !important;
}

.btn-main:active {
  color: rgba(255,255,255, 0.1) !important;
  background: rgba(255,255,255, 0.1) !important;
  border: 1px solid rgba(255,255,255, 0.1) !important;
  box-shadow: none !important;
}

.btn-main-dark {
  padding: 20px, 5px;
  background: rgba(255,255,255, 0);
  font-size: 18px;
  font-weight: light;
  color: #19115a;
  border: 1.5px solid #19115a;
  border-radius: 50rem;
  &:focus {
    background: rgba(255,255,255, 0);
    font-size: 18px;
    color: #19115a;
    border: 1.5px solid #19115a;
    box-shadow: none;
  }
}

.btn-main-dark:hover {
  color: #19115a;
  border: 1.5px solid #19115a !important;
  background: rgba(255,255,255, 0.1) !important;
}

.btn-main-dark:active {
  color: rgba(255,255,255, 0.1) !important;
  background: rgba(255,255,255, 0.1) !important;
  border: 1.5px solid rgba(255,255,255, 0.1) !important;
  box-shadow: none !important;
}
