.chat-container {
  background: white;
  height: 100vh;
  margin: auto;
}

.chat-card {
  padding: 4px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.chat-background {
  background-size: cover;
  background-position: center;
}

.margin-from-navbar {
  margin-top: 7vh;
}

.background-blur {
  backdrop-filter: blur(10px);
  border: 1px solid transparent;
  border-radius: 10px;
  height: 100%;
  padding-top: 6px;
}

.user-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-details
{
  display: flex;
  align-items: center;
}

.profile-details p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

.profile-box {
  justify-content: space-between;
  align-items: center;
}

.user-details p {
margin-bottom: 4px;
}

a {
  text-decoration: none;
}

.link-unstyled:hover {
  text-decoration: none;
}

