.chat-container {
  height: 75vh;
  margin: -30px 0 0 0;
  border-radius: 20px;
  background: $light-gray;
  overflow-y: scroll;
}

.header-index {
  height: 18vh !important;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px;
}

.icon-search {
  font-size: 22px !important;
}

.img-icon-separate {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.chat-card {
  padding: 4px;
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 4px;
  // border-bottom: 1px solid rgba(255,255,255, 0.3);
}

.chat-background {
  background-size: cover;
  background-position: center;
}

.margin-from-navbar {
  margin-top: 7vh;
}

.background-blur {
  backdrop-filter: blur(10px);
  border: 1px solid transparent;
  border-radius: 10px;
  height: 100%;
  padding-top: 6px;
  overflow-y: scroll;
}

.user-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  border-bottom: 1px solid rgba(0,0,0,0.5)
}

.profile-details
{
  display: flex;
  align-items: center;
}

.profile-details p {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

.profile-box {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.user-details p {
margin-bottom: 4px;
}

a {
  text-decoration: none;
}

.link-unstyled:hover {
  text-decoration: none;
}

.bold-text {
  font-weight: bold;
  font-size: 18px !important;
}

.bold-large-text {
  font-size: 20px;
  font-weight: bold;
}

.opacity-text {
  opacity: 0.7;
}

.centered {
  align-items: center;
}
