.footer-container {
  height: 68px;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  z-index: 2;
  img{
    // width: 100px;
    height: 30px;
  }
}

.transparent {
  background: transparent;
}

.purple {
  background: $light-purple;
}

.logo-footer {
  height: 50px !important;
}

.modal-backdrop {
  position: relative !important;
}
